<%= form_for(@submit_request) do |f| %>
  <% if @submit_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit_request.errors.count, "error") %> prohibited this submit_request from being saved:</h2>

      <ul>
      <% @submit_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %><br>

  <div class="field">
    <%= f.label :"タスク" %><br>
    <%= f.collection_select :task_id, Task.where(charge_id: current_user.id), :id, :title ,class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :"メッセージ" %><br>
    <%= f.text_field :message ,class: 'form-control'%>
  </div>
  <div class= "field">
    <%= f.label :"依頼するユーザー" %><br>
    <%= f.collection_select :request_user_id, User.where.not(id: current_user.id), :id, :name ,class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :"状況" %><br>
    <%= f.select :status ,[["未着手","0"],["対応中","1"]],class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default btn-sm btn-success'%>
  </div>
<% end %>
