<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>

    <h1>依頼されているタスク一覧</h1>

    <table class="table">
      <thead>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
          <th>メッセージ</th>
          <th>依頼しているユーザー</th>
          <th>状況</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @submit_requests.each do |submit_request| %>
          <tr>
            <td><%= submit_request.user.name %></td>
            <td><%= submit_request.task.title %></td>
            <td><%= submit_request.message %></td>
            <td><%= submit_request.request_user.name %></td>
            <td><%= submit_request.status == 1?"対応中" : "未着手"  %></td>
            <td><%= link_to '詳細', submit_request ,class: 'btn btn-default btn-sm btn-primary'%></td>
            <td><%= link_to '承認する', approve_submit_request_path(submit_request, submit_request: {status: 2}),method: :patch, data: {confirm: '承認しますか？'} ,class: 'btn btn-default btn-sm btn-success'%></td>
            <td><%= link_to '却下する', reject_submit_request_path(submit_request, submit_request: {status: 9}), method: :patch, data: { confirm: '却下しますか?' },class: 'btn btn-default btn-sm btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to '新しくタスク依頼する', new_submit_request_path , class: 'btn btn-default btn-sm btn-primary'%>
  </div>
</div>
