
<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>ユーザー:</strong>
      <%= @submit_request.user.name %>
    </p>

    <p>
      <strong>タスク:</strong>
      <%= @submit_request.task.title %>
    </p>

    <p>
      <strong>メッセージ:</strong>
      <%= @submit_request.message %>
    </p>

    <p>
      <strong>依頼したユーザー:</strong>
      <%= @submit_request.request_user.name %>
    </p>

    <p>
      <strong>状況:</strong>
      <%= @submit_request.status == 1?"対応中" : "未着手"  %>
    </p>

    <%= link_to '編集', edit_submit_request_path(@submit_request) ,class: 'btn btn-default btn-sm btn-success'%> |
    <%= link_to '戻る', submit_requests_path %>
  </div>
</div>
